{% extends "base.html.twig" %}

{% block title %}Mettre à jour {{author.name}}{% endblock %}

{% block body %}

  <main>

    {# <form method="POST">
      
          <label for="name">Nom :</label>
          <input type="text" id="name" name="name" value="{{author.name}}">
          <label for="description">Description :</label>
          <textarea name="description" id="description" cols="30" rows="10">{{author.description}}</textarea>
          <label for="imageUrl">Photo de profil :</label>
          <input type="text" id="imageUrl" name="imageUrl" value="{{author.imageUrl}}">
          <input type="submit" value="Mettre à jour l'auteur">
      
      </form> #}

    {{form(form)}}

  </main>

{% endblock %}