{% extends "base.html.twig" %}

{% block body %}

  {{form(form)}}

    <div class="cards-container">
        {% for book in books %}
      <div class="card">
        <div class="left">
            <h3>{{book.title}}</h3>
            <p><span class="sub-title">Description :</span><br>{{book.description}}</p>
            <div><span class="sub-title">Auteur(s) :</span>
              <ul>
                {% for author in book.author %}
                  <li>{{author.name}}</li>
                {% endfor %}
              </ul>
            </div>
            <div><span class="sub-title">Catégorie(s) :</span>
              <ul class="categories">
                {% for category in book.categories %}
                  <li>{{category.name}}</li>
                {% endfor %}
              </ul>
            </div>
            <p>{{book.publishingHouse}}</p>
            <p class="price">{{book.price}} €</p>
        </div>

        <div class="right">
            <img src="{{book.imageUrl}}" alt="Image de {{book.title}}">
        </div>
      </div>
          {% endfor %}
    </div>

{% endblock %}