{% extends 'base.html.twig' %}

{% block title %}Détails du livre {{book.title}}{% endblock %}

{% block body %}

    <h3>{{book.title}}</h3>
          <p>{{book.price}}</p>
          <p>{{book.description}}</p>
          <img src="{{book.imageUrl}}" alt="Image du livre {{book.title}}">
          <p>{{book.author.name}}</p>

          {% for category in book.categories %}
            <p>{{category.name}}</p>
          {% endfor %}

{% endblock %}
